<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../www/css/styles_top_menu.css">
    <link rel="icon" href="../www/icons/logo.svg" type="image/svg+xml">
    <title>Tech Spec Analyzer</title>
</head>
<body>
    <div class="top-bar top-bar-visible">
        <a href="../www/index.html"><img class="logo" src="../www/icons/logo.svg" alt="SVG Image"></a>
        <div class="menu">
            <ul class="menu_sheet">
                <li class="menu_li"><a href="news_page.html" class="menu_a">News</a></li>
                <li class="menu_li"><a href="about_us_page.html" class="menu_a">About Us</a></li>
                <li class="menu_li"><a href="contacts_page.html" class="menu_a">Contacts</a></li>
                <li class="menu_li"><a href="javascript:showLogin()" class="menu_a">Login</a></li>
            </ul>
        </div>
    </div>
    <script src="../www/js/index.js"></script>
    <p>тут нічого</p>
</body>
</html>